<%- include('../header/index.ejs') %>

    <body>
    <!-- Responsive navbar-->
    <% if (session) { %>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: black;">
            <!-- <div class="container px-0"> -->
                <a class="navbar-brand" href="/">
                    <!-- <img src="/assets/images/icon/iconutama.png" class="img-responsive"> -->
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        
                    </ul>
                    <ul class="navbar-nav">
                        <!-- <div class="navbar-nav-box"> -->
                            <li class="nav-item mr-4 mt-2">
                                <a class="nav-link text-white" href="#"><%= typeof session.username != undefined ? session.username : '' %></a>
                            </li>
                            <li class="nav-item mr-4 mt-1" id="notif">   
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link text-warning" href="/user/logout">LOGOUT</a>
                            </li>
                            <!-- </div> -->
                        <!-- </div> -->
                    </ul>
                </div>
            <!-- </div> -->
        </nav>
    <% } else { %>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: black;">
            <a class="navbar-brand" href="/"> 
                <!-- <img src="/assets/images/icon/iconutama.png" class="img-responsive"> -->
            </a>
            <div class="container px-0">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-bold <% if (page=='pengenalan') { %> active <% } %>" href="/pengenalan">PENGENALAN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-bold <% if (page=='panduan') { %> active <% } %>" href="/panduan">PANDUAN</a>
                        </li>
                        <li class="nav-item dropdown open" style="position: initial;">
                            <a class="nav-link text-bold dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                             style="text-decoration: none;" data-toggle="dropdown">FORUM
                                 <!-- <b class="caret"></b> -->
                            </a>
                            <div class="dropdown-menu box-transparent mx-auto" aria-labelledby="navbarDropdown">
                                <div class="d-flex flex-row mx-auto w-50 justify-content-around">
                                    <div class="p-3 mx-auto text-center box-forum-discord ml-1">
                                        <img class="img-fluid mx-auto" src="/assets/images/icon/ico_sns_discord.png"><br>
                                        <a href="#" class="text-white text-center text-decoration-none" style="font-size: 13px;">DISCORD</a>
                                    </div>
                                    <div class="p-3 mx-auto box-forum-facebook text-center ml-1">
                                        <a href="https://www.facebook.com/gtc.edu.7/" target="_blank" class="text-white text-center text-decoration-none" style="font-size: 13px;">
                                            <img class="img-fluid" src="/assets/images/icon/ico_sns_facebook.png"><br>
                                            FACEBOOK
                                        </a>
                                    </div>
                                    <div class="p-3 mx-auto box-forum-instagram text-center ml-1">
                                        <a href="https://www.instagram.com/gtc_edu/" target="_blank" class="text-white text-center text-decoration-none" style="font-size: 13px;">
                                            <img class="img-fluid" src="/assets/images/icon/ico_sns_insta.png"><br>
                                            INSTAGRAM
                                        </a>
                                    </div>
                                    <div class="p-3 mx-auto box-forum-youtube text-center ml-1">
                                        <a href="https://www.youtube.com/channel/UCOpzKNA7hgcyvDN-tYaX5DQ" target="_blank" class="text-white text-center text-decoration-none" style="font-size: 13px;"><img class="img-fluid" src="/assets/images/icon/ico_sns_youtube.png"><br>YOUTUBE</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-bold <% if (page=='faq') { %> active <% } %>" href="/faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-bold" href="#!">PREMIUM SHOP</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>
                    <ul class="navbar-nav">
                        <div class="navbar-nav-box ml-5">
                            <div class="navbar-box">
                                <li class="nav-item">
                                    <a class="nav-link text-secondary" aria-current="page" href="/registrasi">REGISTRASI</a>
                                </li>
                            </div>
                            <div class="navbar-box">
                                <li class="nav-item">
                                    <a class="nav-link text-nav" href="/login" style="color: #E5A615;">LOGIN</a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    <% } %>