<%- include('../../navigation/header') %>

    <div class="wrapper-content">
        <!-- GTC Edu -->
        <section class="py-2" id="features">
            <div class="container">
                <div class="row">
                    <div class="mx-auto py-2 mt-3" style="width: 200px; border-top: 2px solid red; border-bottom: 2px solid red;">
                        <h4 class="text-center text-white">FAQ</h4>
                    </div>
                </div>
            </div>
            <div class="container px-5 my-5">
                <%- include('../../cards/faq/index') %>
            </div>
            <div class="container px-5 my-5 text-center">
                <%- include('../../cards/faq/nav') %>
            </div>
        </section>

        <%- include('../../footer/index') %>