<%- include('../../navigation/header') %>

    <div class="wrapper-content-home">
        <section class="bg-transparent">
            <div class="container">
                <div class="row justify-content-center">
                    <%- include('../../cards/tryout/list') %>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <%- include('../../cards/home/home-menu-bottom') %>
                </div>
            </div>
        </section>
    </div>

    <%- include('../../footer/index') %>