<%- include('../../navigation/header') %>

    <div class="wrapper-content">
        <section class="bg-transparent">
            <div class="container">
                <div class="row justify-content-center">
                    <%- include('../../cards/tryout/petunjuk') %>
                </div>
            </div>
        </section>
    </div>

    <%- include('../../footer/index') %>