<div class="row justify-content-around">
    <div class="col-lg-4 bg-dark">
        <div class="d-flex flex-lg-row p-4">
            <div class="card-image">
                <img class="img-carousel-card" src="/assets/images/carousel/3849255.jpg">
            </div>
            <div class="">
                <div class="d-flex flex-lg-column ml-2">
                    <div class="p-1">
                        <h6 class="text-warning">STEP 1</h6>
                        <span class="text-white text-small">
                            Anda bisa memilih tombol "Download" dari menu utama atau menu bar dari website
                            untuk mengakses halaman download
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 bg-dark">
        <div class="d-flex flex-lg-row justify-content-start p-4">
            <div class="card-image">
                <img class="img-carousel-card" src="/assets/images/carousel/5842663.jpg">
            </div>
            <div class="p-0">
                <div class="d-flex flex-lg-column ml-2">
                    <div class="p-1">
                        <h6 class="text-warning">STEP 2</h6>
                        <span class="text-white text-small">
                            <b class="text-warning">1. </b> Simple Download<br>
                            <b class="text-warning">2. </b> Full Client Download<br>
                            <b class="text-warning">3. </b> Partial Client Download
                        </span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 bg-dark">
        <div class="d-flex flex-lg-row justify-content-start p-4">
            <div class="card-image">
                <img class="img-carousel-card" src="/assets/images/carousel/5652981.jpg">
            </div>
            <div class="p-0">
                <div class="d-flex flex-lg-column ml-2">
                    <div class="p-1">
                        <h6 class="text-warning">STEP 3</h6>
                        <span class="text-white text-small">
                            Anda bisa memilih tombol "Download" dari menu utama atau menu bar dari website
                            untuk mengakses halaman download
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>