<div class="animated">
    <div class="modal fade" id="modalOrderConfirm" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content modal-detail">
                <div class="modal-header mx-auto">
                    <h5 class="modal-title text-warning text-center">BERHASIL</h5><br>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <span class="text-white">Nama Paket : Paket Mini</span><br>
                    <span class="text-white">Perguruan Tinggi : PKN STAN</span>
                    <span class="text-white">Harga : 15.000</span>
                    <p class="text-white">Permintaan sedang diproses.<br>
                        Silahkan hubungi admin untuk konfirmasi pembayaran
                    </p>
                </div> 
            </div>
        </div>
    </div>
</div>