<div class="animated">
    <div class="modal fade" id="modalPaket" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content modal-detail" id="bodyPaketModal">
                
            </div>
        </div>
    </div>
</div>