<div class="row">
    <div class="col-lg-8 mx-auto text-warning">
        <p class="text-warning">
            Aplikasi GTC Edu memuat 8 fitur utama terdiri dari : <br>
            <ol>
                <li>Try Out</li>
                Dalam fitur Try Out Online GTC Edu akan terus menyiapkan Try Out dengan sistem terbaru
                dan soal soal yang update dengan pembahasan yang seru. Latih terus hasil belajar kamu 
                dan ukur hasilnya agar kamu lebih siap untuk menghadapi ujian.
                <li>Latihan Soal</li>
                Pertajam pemahamanmu lewat lebih dari ribuan latihan soal dari berbagai tingkat kesulitan 
                (termasuk HOTS). “Practice makes Perfect” Biar kamu siap menghadapi ujian perguruan tinggi,
                GTC Edu siapkan latihan soal agar kamu terbiasa menghadapi ujian. Soal yang GTC Edu buat
                bikin latihan jadi seru, cobain sendiri!
                <li>Belajar</li>
                Biar kamu makin inget konsep, GTC Edu siapkan rangkuman per bab dan ebook khusus 
                tiap perguruan tinggi yang lebih simpel dan menarik, bikin kamu ingat lagi semua 
                konsep yang sudah di pelajari
                <li>Vidio Materi Pembelajaran</li>
                Fitur Vidio Pembelajaran terdiri dari vidio materi tiap bab, vidio latihan soal, 
                vidio tips trick pengerjaan soal. Bikin kamu paham gimana persiapan materi untuk 
                menghadapi soal-soal ujian masuk perguruan tinggi.
                <li>Blog</li>
                Fitur Info sekolah terdiri dari Artikel kampus, penjelasan jurusan dan info terkait
                kampus baik Akreditasi , biaya pendidikan , website, lokasi, rank nasional dan internasional,
                jalur masuk, fakutas dan jurusan. Perbanyak informasi mengenai kampus impianmu!
                <li>Jual Buku</li>
                Fitur Jual buku berisi jual kumpulan buku yang akan digunakan untuk masuk Perguruan Tinggi.
                <li>Jadwal Belajar</li>
                Fitur Jadwal terdiri dari jadwal try out yang akan dilakukan dan jadwal belajar 
                yang akan mengingatkan users untuk melakukan kegiatan belajar sesuai yang telah di buat. 
                Buat agendamu belajar sekarang! Agar persiapanmu menuju ujian matang!
                <li>Peringkat</li>
                Fitur Peringkat berisi pemeringkatan skor Try Out pararel tiap peserta yang telah melakukan Try Out.
            </ol>
        </p>
    </div>
</div>