<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-video">
            <div class="modal-body">
                
                <video
                    id="materiVideo"
                    class="video-js vjs-theme-city"
                    controls
                    preload="auto"
                    
                    poster="MY_VIDEO_POSTER.jpg"
                    data-setup="{}"
                >
                    <source src="/assets/video/videoplayback.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>