<div class="col-lg-12 mt-5 mb-5">
    <div class="p-2 col-title mx-auto">
        <h5 class="text-brown text-center">E-BOOK</h5>
    </div>
    <div class="container mt-5 text-center">
        <div class="row">
            <div class="col-lg-3 col-xs-2 mb-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=dinas_ebook">
                    <img class="img-book" src="/assets/images/icon/Icon Ikatan Dinas.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">Ikatan Dinas</span><br>
                </a>
            </div>
            <div class="col-lg-3 col-xs-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=kedinasan_ebook">
                    <img class="img-book" src="/assets/images/icon/icon kedinasan.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">Kedinasan</span><br>
                </a>
            </div>
            <div class="col-lg-3 col-xs-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=jarvis_ebook">
                    <img class="img-book" src="/assets/images/icon/icon JARVIS.png">
                    <p></p>
                    <span class="text-warning text-bold">JARVIS</span><br>
                </a>
            </div>
            <div class="col-lg-3 col-xs-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=sbmptn_ebook">
                    <img class="img-book" src="/assets/images/icon/icon SBMPTN SAINTEK.png">
                    <p></p>
                    <span class="text-warning text-bold">SBMPTN</span><br>
                </a>
            </div>
            <div class="col-lg-3 col-xs-2 mb-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=sbmpn_ebook">
                    <img class="img-book" src="/assets/images/icon/icon SBMPN.png">
                    <p></p>
                    <span class="text-warning text-bold">SBMPN</span><br>
                </a>
            </div>
            <div class="col-lg-3 col-xs-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=cpns_ebook">
                    <img class="img-book" src="/assets/images/icon/icon CPNS.png">
                    <p></p>
                    <span class="text-warning text-bold">CPNS</span><br>
                </a>
            </div>
            <div class="col-lg-3 col-xs-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=smptn_barat">
                    <img class="img-book" src="/assets/images/icon/icon SMM PTN BARAT.png">
                    <p></p>
                    <span class="text-warning text-bold">SMMPTN BARAT</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link" href="/belajar/materi/detail/type=ptkin">
                    <img class="img-book" src="/assets/images/icon/icon PTKIN.png">
                    <p></p>
                    <span class="text-warning text-bold">PTKIN</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link" href="/belajar/materi/detail/?type=sipencatar">
                    <img class="img-book" src="/assets/images/icon/icon SIPENCATAR.png">
                    <p></p>
                    <span class="text-warning text-bold">SIPENCATAR</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link" href="/belajar/materi/detail/?type=simama_poltekkes">
                    <img class="img-book" src="/assets/images/icon/icon SIMAMA POLTEKKES.png">
                    <p></p>
                    <span class="text-warning text-bold">SIMAMA POLTEKKES</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link" href="/belajar/materi/detail/?type=ujian_mandiri">
                    <img class="img-book" src="/assets/images/icon/Icon Ujian Mandiri.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">Ujian Mandiri</span><br>
                </a>
            </div>
        </div>
    </div>
</div>