<div class="col-lg-8 mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="p-2 col-title mx-auto">
                <h5 class="text-brown text-center">BELAJAR</h5>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-lg-6">
                <a class="nav-link" href="/belajar/ebook">
                    <img class="img-box" src="/assets/images/icon/e book.png">
                    <h5 class="text-warning text-bold text-center mt-3">EBOOK</h5>
                </a>
            </div>
            <div class="col-lg-6">
                <a class="nav-link" href="/belajar/materi">
                    <img class="img-box" src="/assets/images/icon/ringkasan materi.png">
                    <h5 class="text-warning text-bold text-center mt-3">RINGKASAN MATERI</h5>
                </a>
            </div>
        </div>
    </div>
</div>