<div class="col-lg-12 mt-5 mb-5">
    <div class="p-2 col-title mx-auto">
        <h5 class="text-brown text-center">RINGKASAN MATERI</h5>
    </div>
    <div class="container mt-5 text-center">
        <div class="row">
            <div class="col-lg-3 col-xs-2 mb-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=fisika_materi">
                    <img class="img-book" src="/assets/images/icon/icon Fisika.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">FISIKA</span><br>
                </a>
            </div>
            <div class="col-lg-3 col-xs-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=kimia_materi">
                    <img class="img-book" src="/assets/images/icon/icon Kimia.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">KIMIA</span><br>
                </a>
            </div>
            <div class="col-lg-3 col-xs-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=biologi_materi">
                    <img class="img-book" src="/assets/images/icon/icon Biologi.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">BIOLOGI</span><br>
                </a>
            </div>
            <div class="col-lg-3 col-xs-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=matematika_materi">
                    <img class="img-book" src="/assets/images/icon/icon Matematika.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">MATEMATIKA</span><br>
                </a>
            </div>
            <div class="col-lg-3 col-xs-2 mb-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=tps_materi">
                    <img class="img-book" src="/assets/images/icon/icon TPS.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">TPS</span><br>
                </a>
            </div>
            <div class="col-lg-3 col-xs-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=indonesia_materi">
                    <img class="img-book" src="/assets/images/icon/icon Bahasa Indonesia.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">BAHASA INDONESIA</span><br>
                </a>
            </div>
            <div class="col-lg-3 col-xs-2">
                <a class="nav-link" href="/belajar/materi/detail/?type=ekonomi_materi">
                    <img class="img-book" src="/assets/images/icon/icon Ekonomi.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">EKONOMI</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link" href="/belajar/materi/detail/?type=geografi_materi">
                    <img class="img-book" src="/assets/images/icon/icon Geografi.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">GEOGRAFI</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link" href="/belajar/materi/detail/?type=sosiologi_materi">
                    <img class="img-book" src="/assets/images/icon/icon Sosiologi.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">SOSIOLOGI</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link" href="/belajar/materi/detail/?type=sejarah_materi">
                    <img class="img-book" src="/assets/images/icon/icon Sejarah.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">SEJARAH</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link" href="/belajar/materi/detail/?type=inggris_materi">
                    <img class="img-book" src="/assets/images/icon/icon Bahasa Inggris.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">BAHASA INGGRIS</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link" href="/belajar/materi/detail/?type=tpa_materi">
                    <img class="img-book" src="/assets/images/icon/icon TPA.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">TPA</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link getMateri" type="button" href="/belajar/materi/detail/?type=twk_materi">
                    <img class="img-book" src="/assets/images/icon/icon TWK.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">TWK</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link getMateri" data-content="type=tiu_materi" href="/belajar/materi/detail/?type=tiu_materi">
                    <img class="img-book" src="/assets/images/icon/icon TIU.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">TIU</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link getMateri" data-content="type=tkp_materi" href="/belajar/materi/detail/?type=tkp_materi">
                    <img class="img-book" src="/assets/images/icon/icon TKP.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">TKP</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link getMateri" data-content="type=tkk_materi" href="/belajar/materi/detail/?type=tkk_materi">
                    <img class="img-book" src="/assets/images/icon/icon TKK.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">TKK</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link getMateri" href="/belajar/materi/detail/?type=alquran_materi">
                    <img class="img-book" src="/assets/images/icon/icon Al Qur'an hadis.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">AL QUR'AN HADITS</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link" href="/belajar/materi/detail/?type=aqidah_materi">
                    <img class="img-book" src="/assets/images/icon/Aqidah Akhlak.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">AQIDAH AKHLAK</span><br>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link" href="/belajar/materi/detail/?type=arab_materi">
                    <img class="img-book" src="/assets/images/icon/icon bahasa arab.jpeg">
                    <p></p>
                    <span class="text-warning text-bold">BAHASA ARAB</span><br>
                </a>
            </div>
        </div>
    </div>
</div>