<%- include('../../header/index') %>

<body class="bg-black">
    <div class="container">
        <div class="col-lg-4 p-3 box-border border-danger border-2 mx-auto bg-login">
            <div class="row">
                <div class="col-lg-12 mt-5 text-center">
                    <!-- <video width="200" height="30" controls>
                        <source src="/assets/video/videologin.mp4" />
                    </video> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <%- include('../../cards/login/index') %>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- jQuery -->
<script src="/assets/js/jquery/jquery.min.js"></script>
<script src="/assets/js/bootstrap/bootstrap.min.js"></script>

<!-- Sweetalert Library -->
<script src="/assets/js/sweetalert2/sweetalert2.all.min.js"></script>

<!-- Sweetalert -->
<script src="/assets/js/sweetalert/users/login.js"></script>
