<%- include('../../navigation/header') %>

    <div class="wrapper-content">
        <section class="bg-transparent py-2">
            <div class="container px-5 my-5 px-5">
                <%- include('../../cards/home/info-promo/detail') %>
            </div>
        </section>
    </div>

    <%- include('../../footer/index') %>