<div class="row">
    <div class="col-lg-12">
        <div id="accordion">
            <div class="card bg-transparent">
                <div id="pageOne">
                    <div class="card-header" style="border-bottom: 1px solid #AFACA7 ;" id="headingOne">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana cara membuat akun GTC Edu ? </span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Masuk ke dalam website <a>www.gtceducation.id</a> lalu pilih
                                registrasi, masukkan data-data yang dibutuhkan untuk registrasi akun
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="headingTwo">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <i class="fa fa-question text-white mr-5"></i> <span>Kalau lupa akun Saya, apakah saya harus membuat akun terbaru?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Tidak, cukup hubungi admin jika lupa memasukkan isian
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="headingThree">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apa itu GTC Edu?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">GTC Edu adalah Platform Aplikasi Try Out Online Masuk 
                                Perguruan Tinggi dimana suatu Aplikasi Try Out Online yang memiliki fasilitas
                                terlengkap dengan berbagai fitur aplikasi meliputi Try Out Online , Latian Soal ,
                                Belajar ( Ebook Materi ), Vidio Materi Pembelajaran, Info Sekolah, Jual Buku, 
                                Jadwal Belajar, Peringkat. GTC Edu adalah aplikasi serupa dengan game fantasy
                                yang terinspirasi dari anime “Sword Art Online” yang dimana user dapat belajar
                                dan mengerjakan soal layaknya saat bermain game.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="headingFour">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaiman jika saya ingin mengganti password akun Users GTC?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">untuk melakukan perubahan password kamu bisa hubungi admin untuk melakukan perubahan password.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="headingFive">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apakah boleh membagikan akun users saya kepada orang lain?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Kami tidak menyarankan untuk membagikan akun users kamu 
                                karena jika ada masalah yang terjadi akibat kejadian ini maka hal tersebut 
                                di luar tanggung jawab kami.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="headingSix">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apakah saya bisa mengganti alamat Email saya?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Untuk sekarang kamu belum bisa mengganti alamat Email, 
                                kedepan kami akan melakukan development untuk fitur tersebut.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="headingSeven">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana cara membayar di GTC Education?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">kamu bisa membayar melalui website <a>www.gtc-edu.com</a>,
                                login dan klik menu shop, lalu pilih sekolah dan paket yang kamu inginkan,
                                lalu kamu bisa mengeklik sistem pembayaran yang kamu inginkan, 
                                setelah itu hubungi admin, untuk konfirmasi pembayaran, 
                                admin akan melakukan konfirmasi dan membuka paket yang telah kamu beli.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="headingEight">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Sistem pembayaran apa saja yang tersedia di GTC Education?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Saat ini kami mensupport pembayaran melalui Transfer sesuai pilihan bank yang tersedia.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="headingNine">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Dimana saya bisa membeli voucher paket Try Out?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Voucher Try Out bisa dibeli melalui website.gtc-edu.com dan 
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="headingTen">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana cara saya mendapatkan skor dalam perangkingan?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Skor di dalam perangkingan hanya bisa di dapat ketika kamu mengerjakan soal di fitur Try Out saja, kamu akan mendapatkan skor berdasarkan hasil ujian try out yang telah kamu kerjakan.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="pageTwo">
                    <div class="card-header border-bottom" id="heading11">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apakah ada batasan dalam pembelian paket di GTC Education?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Ada, kami membatasi tiap Users hanya dapat membeli 3 paket sekolah yang telah di pilih.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading12">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse12" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana saya mengetahui event yang ada di GTC Education Indonesia?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Event-event dalam GTC Education Indonesia akan di informasikan melalui Sosial Media Resmi yang ada di platform GTC Edu
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading13">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse13" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apa yang harus saya lakukan jika ada pemain yang melakukan kecurangan dalam mengerjakan Try Out?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Users yang melakukan kecurangan dalam pengerjaan try out telah melanggar ketentuan yang dapat merugikan dirinya sendiri.
                                Try Out yang dibuat bertujuan untuk melatih kemampuan users dalam mengerjakan ujian
                                dan akan bermanfaat ketika nanti saat Ujian masuk Perguruan Tinggi.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading14">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse14" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apa yang harus saya lakukan jika ada pemain yang melakukan kecurangan dalam mengerjakan Try Out?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse13" class="collapse" aria-labelledby="heading14" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Users yang melakukan kecurangan dalam pengerjaan try out telah melanggar ketentuan yang dapat merugikan dirinya sendiri.
                                Try Out yang dibuat bertujuan untuk melatih kemampuan users dalam mengerjakan ujian
                                dan akan bermanfaat ketika nanti saat Ujian masuk Perguruan Tinggi.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading15">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse15" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apakah saat mengerjakan soal hanya dapat dilakukan 1x?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Benar, users hanya dapat mengerjakan soal 1x saja,
                                setelah itu paket soal hanya cuman bisa melihat hasil pembahasan yang
                                sudah dikerjakan users
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading16">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse16" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana jika ada yang memperjual belikan akun users GTC Education?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Jika ada users yang melakukan jual beli users, 
                                laporkan kepada admin disertai dengan bukti, 
                                kami akan melakukan Banned pada akun yang telah di jual belikan tersebut.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading17">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse17" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana jika ada bug dalam website atau saat mengerjakan soal?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Jika ditemukan adanya bug pada GTC Edu, 
                                laporkan pada admin segera, maka kami akan melakukan maintenance
                                sementara untuk melakukan perbaikan pada bug tersebut.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading18">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse18" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana jika ada yang melakukan Cheat / Program Illegal di dalam pengerjaan soal?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Jika ada yang melakukan Cheat/ Program Ilegal 
                                di dalam pengerjaan soal, kami akan melakukan Banned permanen pada akun tersebut.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading19">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse19" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Saya sudah melakukan pembayaran, tetapi kenapa belum dapat fasilitas yang sudah saya beli?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Segera hubungi admin dan konfirmasi Pembayaran yang telah dilakukan.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading20">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse20" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Kok saya saat mengerjakan soal try out lemot?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Sebelum mengerjakan soal Try Out, 
                                Usahakan users memastikan koneksi internet yang kamu gunakan dalam keadaan stabil
                                dan bagus.
                            </span>
                        </div>
                    </div>
                </div>
                <div id="pageThree">
                    <div class="card-header border-bottom" id="heading21">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse21" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana pada saat masih mengerjakan Paket Try Out, 
                                    saya log out dengan sengaja karena ada urusan lain?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse21" class="collapse" aria-labelledby="heading21" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Ketika users melakukan log out dan waktu ujian masih berjalan,
                                maka sistem otomatis akan berjalan terus sampai waktu ujian berakhir dan akan 
                                otomatis akan tersubmit dengan sendiri, 
                                maka users tidak dapat melakukan ujian 
                                pada Paket Try Out yang telah dibuka karena Try Out hanya dapat dikerjakan 1x saja. 
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading22">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse22" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana jika ada users yang melakukan Screenshot saat 
                                    melakukan pengerjaan soal?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse22" class="collapse" aria-labelledby="heading22" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Users DILARANG KERAS untuk melakukan Screenshot soal,
                                ebook atau aset lainnya, karena dapat melanggar hak cipta,
                                dan akan dikenakan hukuman
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading23">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse23" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana cara untuk melakukan pendaftaran pada 
                                    Bimbel GTC Education?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse23" class="collapse" aria-labelledby="heading23" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Pendaftaran dapat dilakukan dengan mengisi link
                                yang tertara pada Poster Class Bimbel.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading24">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse24" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana cara untuk tidak mendowload file
                                    untuk sekedar membuka ebook materi?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse24" class="collapse" aria-labelledby="heading24" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Matikan IDM pada device kalian
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading25">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse25" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apa yang harus diperhatikan sebelum 
                                    melakukan pengerjaan soal?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse25" class="collapse" aria-labelledby="heading25" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Pastikan koneksi internet yang kamu gunakan dalam keadaan stabil dan bagus.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading26">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse26" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana mekanisme pemesanan buku melalui 
                                    website atau aplikasi GTC Education?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse26" class="collapse" aria-labelledby="heading26" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Pilih terlebih dahulu buku yang hendak kalian pilih,
                                lalu klik oke dalam konfirmasi, hubungi admin untuk mekanisme pembelian.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading27">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse27" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana sistem Bimbel GTC Education?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse27" class="collapse" aria-labelledby="heading27" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Setelah berhasil mendaftar,
                                kamu akan menerima fasilitas yang telah disediakan, 
                                untuk bimbingannya oleh tentor dilakukan melalui media 
                                Grup WhatsApp dan untuk hal” tertentu akan melalui media Zoom Conference, 
                                untuk Try Out akan dilakukan melalui Website dan Aplikasi GTC Edu.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading28">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse28" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apakah khusus bimbingan masuk STAN saja?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse28" class="collapse" aria-labelledby="heading28" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Tidak, Bimbel GTC menerima semua siswa yang ingin 
                                masuk Perguruan Tinggi baik Ikatan Dinas , Kedinasan , SBMPTN , SBMPN , 
                                Ujian Mandiri, CPNS, SIPENCATAR, SMM PTN BARAT, PTKIN.
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading29">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse29" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apa bedanya Bimbel GTC Edu dengan 
                                    bimbingan belajar yang lainnya?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse29" class="collapse" aria-labelledby="heading29" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">GTC merupakan bimbel yang berpengalaman dan siap 
                                memberi pelayanan prima setiap saat.
                                Program bimbingan yang kami berikan telah dikembangkan 
                                secara maksimal dengan fasilitas-fasilitas unggulan. 
                            </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading30">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse30" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Siapa saja yang bisa belajar 
                                    di Bimbel GTC Edu?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse30" class="collapse" aria-labelledby="heading30" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Peserta didik mulai dari usia 15-19 tahun.</span>
                        </div>
                    </div>
                </div>
                <div id="pageFour">
                    <div class="card-header border-bottom" id="heading31">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse31" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Sudah berapa lama Bimbel GTC Edu didirikan?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse31" class="collapse" aria-labelledby="heading31" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Bimbel GTC Edu didirikan pada tahun 2020.</span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading32">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse32" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Materi apa saja yang diajarkan di bimbel?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse32" class="collapse" aria-labelledby="heading32" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Semua materi yang diajarkan berupa Ebook materi , 
                                vidio Tips Trick Cara Cepat Mengerjakan Soal dan Vidio Pembelajaran 
                                untuk masuk Perguruan Tinggi yaitu: Kemampuan berhitung kuantitatif, 
                                kemampuan verbal, logika spasial, logika matematika, Bahasa Inggris, 
                                Materi Kebugaran, dan TKD (Tes Kemampuan Dasar bagi calon pegawai negri sipil) 
                                tentunya sesuai Akses Bimbel sekolah yang kalian pilih.</span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading33">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse33" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Ketika sudah mendaftar apakah bisa langsung belajar?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse33" class="collapse" aria-labelledby="heading33" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Bisa, fasilitas akan diberikan setelah admin 
                                mengkofirmasi pendaftaran.</span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading34">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse34" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana bila kelas belum memenuhi kuota?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse34" class="collapse" aria-labelledby="heading34" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Selama kuota minimal terpenuhi, pembelajaran bisa langsung dimulai. 
                                Kami menjamin proses pembelajaran tidak akan terganggu. </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading35">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse35" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana bila ingin mengikuti bimbel
                                    tapi kelasnya sudah berjalan?</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse35" class="collapse" aria-labelledby="heading35" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Selama niat dan ingin mendapat bimbingan dari 
                                tentor fasilitas dasar akan diberikan, tetapi untuk penyampaian 
                                materi yang sudah disampaikan tentor sebelumnya akan kami record 
                                dan langsung diberikan discordnya. Untuk itu, kami menjamin proses 
                                pembelajaran tidak akan terganggu. </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading36">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse36" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apakah ada diskon promo bimbel GTC Edu? 
                                    Saya tertarik dengan program yang ini.</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse36" class="collapse" aria-labelledby="heading36" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Ikuti media sosial kami, di sana akan ada informasi mengenai diskon, 
                                bonus, atau promo lainnya. </span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading37">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse37" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apakah disediakan Konsultasi dengan Mentor?</span> 
                        </h5>
                    </div>
                    <div id="collapse37" class="collapse" aria-labelledby="heading37" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Konsultasi dengan Mentor Termasuk dalam program GTC , 
                                tapi kami akan membantu untuk memotivasi belajar.</span>
                        </div>
                    </div>
                    
                    <div class="card-header border-bottom" id="heading38">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse38" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana jadwal belajarnya? </span> 
                        </h5>
                    </div>
                    <div id="collapse38" class="collapse" aria-labelledby="heading38" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Informasi tentang jadwal belajar akan dijelaskan ketika users 
                                sudah mendaftar kami 
                                kirimkan. Sesuai program dan kurikulum. Untuk informasi selanjutnya,
                                akan diberikan kemudian dan selebihnya bisa bertanya kepada Admin GTC Edu.</span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading39">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse39" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Apabila tidak masuk pada sesi pembelajaran,
                                    apakah ada jadwal pengganti? </span> 
                        </h5>
                    </div>
                    <div id="collapse39" class="collapse" aria-labelledby="heading39" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Jika siswa/i tidak dapat hadir dalam pembelajaran, 
                                maka siswa/i bisa mengikuti kelas diskusi.</span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading40">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse40" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana cara mendaftar di Bimbel GTC?</span> 
                        </h5>
                    </div>
                    <div id="collapse40" class="collapse" aria-labelledby="heading40" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Pendaftaran bisa dilakukan melalui website <a>www.gotocampus.id</a>.
                                atau via WhatsApp yang sudah ada tertera dengan format : <br>
                                Program yang akan dipilih : <br>
                                Nama		: <br>			
                                Asal daerah	: <br>
                                Alamat 		: <br>
                                No. Telp 	: <br>
                                Asal sekolah : <br>
                                Program Bimbingan : <br>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="pageFive">
                    <div class="card-header border-bottom" id="heading41">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse41" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Bagaimana cara pembayaran biaya pendaftaran?</span> 
                        </h5>
                    </div>
                    <div id="collapse41" class="collapse" aria-labelledby="heading41" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Untuk pembayaran bisa langsung melalui nomor rekening kami di Bank BRIm</span>
                        </div>
                    </div>

                    <div class="card-header border-bottom" id="heading42">
                        <h5 class="text-bold">
                            <button class="btn text-warning" data-toggle="collapse" data-target="#collapse42" aria-expanded="true" aria-controls="collapseSix">
                                <i class="fa fa-question text-white mr-5"></i> <span>Kapan terakhir pendaftaran? </span> 
                        </h5>
                    </div>
                    <div id="collapse42" class="collapse" aria-labelledby="heading42" data-parent="#accordion">
                        <div class="card-body text-white">
                            <i class="fa fa-reply text-white mr-3"></i>
                            <span class="text-white">Batas akhir pendaftaran tidak bisa ditentukan, 
                                karena sewaktu-waktu pendaftaran bisa di tutup apabila kuota kelas sudah terpenuhi.
                                Jadi, lebih baik segera lakukan pendaftaran. Selain itu, harga program juga
                                dapat berubah sewaktu-waktu.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>