<!-- <div class="row mx-auto"> -->
    <!-- <div class="text-center">
        <nav class="mx-auto" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <img width="15px" src="/assets/images/icon/31. left.png">
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#pageOne">1</a></li>
            <li class="page-item"><a class="page-link" href="#pageTwo">2</a></li>
            <li class="page-item"><a class="page-link" href="#pageThree">3</a></li>
            <li class="page-item"><a class="page-link" href="#pageFour">4</a></li>
            <li class="page-item"><a class="page-link" href="#pageFive">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <img width="15px" src="/assets/images/icon/31. right.png">
                </a>
            </li>
            </ul>
        </nav>
    </div> -->
<!-- </div> -->