<%- include('../../header/index') %>

<body class="bg-black">
    <div class="container">
        <div class="col-lg-4 p-5 box-border border-danger border-2 mx-auto bg-login mt-5">
            <div class="row">
                <div class="col-lg-1 mx-auto">
                    <img class="img-fluid" width="200px" src="/assets/images/icon/gtclogo.png">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <%- include('../../cards/registrasi/index') %>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- jQuery -->
<script src="/assets/js/jquery/jquery.min.js"></script>
<script src="/assets/js/bootstrap/bootstrap.min.js"></script>

<!-- Sweetalert Library -->
<script src="/assets/js/sweetalert2/sweetalert2.all.min.js"></script>

<!-- Sweetalert -->
<script src="/assets/js/sweetalert/users/login.js"></script>
<script src="/assets/js/sweetalert/users/register.js"></script>