    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="d-flex justify-content-center flex-column">
            <div class="mx-auto">
                <img class="img-fluid" width="450px" src="/assets/images/icon/Icon Logo Bawah.png">
            </div>
            <div class="mx-auto">
                <p class="text-center text-light">Jika ada pertanyaan hubungi 
                    <a href="mailto:gotocampus.edu@gmail.com" class="nav-item">gotocampus.edu@gmail.com</a>
                </p>
                <p class="text-center text-muted">Copyright &copy; GTC Education Indonesia All rights reserved</p>
            </div>
            <div class="mx-auto">
                <a href="#"><img class="img-social mr-2" src="/assets/images/icon/discord.png"></a>
                <a href="https://api.whatsapp.com/send?phone=08976026555" target="_blank"><img class="img-social mr-2" src="/assets/images/icon/whatsapp.png"></a>
                <a href="https://twitter.com/GtcEdu"><img class="img-social mr-2" src="/assets/images/icon/twitter.png"></a>
                <a href="https://www.instagram.com/gtc_edu/"><img class="img-social mr-2" src="/assets/images/icon/ig.png"></a>
            </div>
        </div>
    </footer>

<%- include('./script') %>