    <!-- <div class="col-lg-12 position-absolute">
        <img width="200px" src="/assets/images/icon/9. pulau tambahan.png">
    </div> -->
    <div class="col-lg-12">
        <div class="text-center my-5">
            <div id="carouselMenuHome" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item card-carousel active">
                        <a class="nav-link" href="/video">
                            <img class="img-land" src="/assets/images/icon/8.1 land video pembelajaran.png" alt="First slide">
                            <div class="carousel-caption menu-home-slider mx-auto">
                                <h5 class="text-dark">Video Pembelajaran</h5> 
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item card-carousel">
                        <a class="nav-link" href="/tryout">
                            <img class="img-land" src="/assets/images/icon/8.2. land try out.png" alt="Second slide">
                            <div class="carousel-caption menu-home-slider mx-auto">
                                <h5 class="text-dark">Tryout</h5>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item card-carousel">
                        <a class="nav-link" href="/latihan">
                            <img class="img-land" src="/assets/images/icon/8.3. land latihan.png" alt="Third slide">
                            <div class="carousel-caption menu-home-slider mx-auto">
                                <h5 class="text-dark">Latihan</h5>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item card-carousel">
                        <a class="nav-link" href="/peringkat">
                            <img class="img-land" src="/assets/images/icon/8.4. land peringkat.png" alt="Third slide">
                            <div class="carousel-caption menu-home-slider mx-auto">
                                <h5 class="text-dark">Peringkat</h5>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item card-carousel">
                        <a class="nav-link" href="/belajar">
                            <img class="img-land" src="/assets/images/icon/8.5. land belajar.png" alt="Third slide">
                            <div class="carousel-caption menu-home-slider mx-auto">
                                <h5 class="text-dark">Belajar</h5>
                            </div>
                        </a>
                    </div>
                    <!-- <div class="carousel-item card-carousel">
                        <a class="nav-link" href="/jadwal">
                            <img class="img-land" src="/assets/images/icon/8.6. land jadwal.png" alt="Third slide">
                            <div class="carousel-caption menu-home-slider mx-auto">
                                <h5 class="text-dark">Jadwal</h5>
                            </div>
                        </a>
                    </div> -->
                    <div class="carousel-item card-carousel">
                        <a class="nav-link" href="/buku">
                            <img class="img-land" src="/assets/images/icon/8.7. land ebook.png" alt="Third slide">
                            <!-- <img class="carousel-caption d-none d-md-block menu-home-slider mx-auto" src="/assets/images/icon/7. slide bar home.png"> -->
                            <div class="carousel-caption menu-home-slider mx-auto">
                                <h5 class="text-dark">Buku</h5>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item card-carousel">
                        <a class="nav-link" href="/blog">
                            <img class="img-land" src="/assets/images/icon/8.8. land blog.png" alt="Third slide">
                            <div class="carousel-caption menu-home-slider mx-auto">
                                <h5 class="text-dark">Blog</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselMenuHome" role="button" data-slide="prev">
                    <img width="35px" src="/assets/images/icon/31. left.png">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselMenuHome" role="button" data-slide="next">
                    <img width="35px" src="/assets/images/icon/31. right.png">
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-6 position-absolute">
        <img width="200px" src="/assets/images/icon/9. pulau tambahan 2.png">
    </div> -->