<div class="col-lg-12">
    <div class="p-3 bar-notes" id="barNotes"></div>
    <div class="d-flex flex-row justify-content-evenly mt-3">
        <div class="p-2 text-center">
            <a href="/">
                <img class="menu-bottom" src="/assets/images/icon/1. icon home.png">
            </a>
            <a href="/" class="nav-link text-bold text-menu-bottom <% if (page == 'home') { %> text-warning <% } else { %> text-light <% } %>">
                <span class="text-white">HOME</span>
            </a>
        </div>
        <div class="p-2 text-center">
            <a href="/history">
                <img class="menu-bottom" src="/assets/images/icon/1. icon history.png">
            </a>
            <a href="/history" class="nav-link text-bold text-menu-bottom <% if (page == 'history') { %> text-warning <% } else { %> text-light <% } %>">
                <span class="text-white">HISTORY</span>
            </a>
        </div>
        <div class="p-2 text-center">
            <a href="/statistic">
                <img class="menu-bottom" src="/assets/images/icon/1. icon statistic.png">
            </a>
            <a class="nav-link text-bold text-menu-bottom <% if (page == 'statistic') { %> text-warning <% } else { %> text-light <% } %>" href="/statistic">
                <span class="text-white">STATISTIC</span>
            </a>
        </div>
        <div class="p-2 text-center">
            <a href="/shop">
                <img class="menu-bottom" src="/assets/images/icon/1. icon shop.png">
            </a>
            <a href="/shop" class="nav-link text-bold text-menu-bottom <% if (page == 'shop') { %> text-warning <% } else { %> text-light <% } %>">
                <span class="text-white">SHOP</span>
            </a>
        </div>
        <div class="p-2 text-center">
            <a href="/profile">
                <img class="menu-bottom" src="/assets/images/icon/1. icon profile.png">
            </a>
            <a href="/profile" class="nav-link text-bold text-menu-bottom <% if (page == 'profile') { %> text-warning <% } else { %> text-light <% } %>">
                <span class="text-white">PROFILE</span>
            </a>
        </div>
    </div>
</div>