<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GTC Home</title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/images/icon/favicon.ico" />
        <!-- Bootstap -->
        <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!-- Splide -->
        <!-- <link rel="styhesheet" href="/assets/css/splide/splide.min.css"> -->
        <!-- Owl Carousel -->
        <!-- <link rel="stylesheet" href="/assets/js/owlcarousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/assets/js/owlcarousel/owl.theme.default.min.css"> -->
        <!-- <link rel="stylesheet" href="/assets/js/video-js/video-js.min.css"> -->
        <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap-select.min.css">
        <!-- Datatable -->
        <link rel="stylesheet" href="/assets/css/datatables/dataTables.bootstrap4.min.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/assets/css/styles.css" rel="stylesheet" />
    </head>