<div class="col-lg-8 mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="p-2 col-title mx-auto">
                <h5 class="text-brown text-center">VIDEO PEMBELAJARAN</h5>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-lg-4">
                <a class="nav-link" href="/latihan/kategori/bab">
                    <img class="img-content" src="/assets/images/icon/20. latihan perbab.png">
                    <h5 class="text-brown text-bold text-center text-block">LATIHAN PER BAB</h5>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="nav-link" href="/latihan/kategori/tryout">
                    <img class="img-content" src="/assets/images/icon/20. latihan TO.png">
                    <h5 class="text-brown text-bold text-center text-block mt-3">LATIHAN TRY OUT</h5>
                </a>
            </div>
        </div>
        <!-- <div class="row text-center" id="titleBottom">
            <div class="col">
                <a class="nav-link" href="/video/materi">
                    <h5 class="text-brown text-bold text-center">VIDEO MATERI</h5>
                </a>
            </div>
            <div class="col">
                <a class="nav-link" href="/video/tips-trick">
                    <h5 class="text-brown text-bold text-center">VIDEO TIPS TRICK</h5>
                </a>
            </div>
            <div class="col">
                <a class="nav-link" href="/video/bahas-soal">
                    <h5 class="text-brown text-bold text-center">VIDEO BAHAS SOAL</h5>
                </a>
            </div>
        </div> -->
    </div>
</div>