<div class="col-lg-8 mt-5 mb-5">
    <div class="p-2 col-title mx-auto">
        <h5 class="text-brown text-center">LATIHAN TRY OUT</h5>
    </div>
    <div class="p-2 mt-5">
        <select class="form-control" id="changeLatihan">
            <% result.forEach(row => { %>
                <option value="<%= row._id %>"><%= row.nama %></option>
            <% }) %>
        </select>
    </div>  
    <div class="container mt-5" id="listSoalLatihan">
        
    </div>
</div>

<%- include('../../modals/latihan/konfirmasi') %>