<div class="row">
    <div class="col-lg-8 mx-auto">
        <p class="text-warning text-center">
            GTC Edu adalah Platform Bimbingan Online & Aplikasi Try Out Online Masuk Perguruan Tinggi dimana suatu Aplikasi Try Out Online yang memiliki fasilitas terlengkap dengan berbagai fitur aplikasi meliputi Try Out Online, Latian Soal, Belajar ( Ebook Materi ), Vidio  Pembelajaran, Info Sekolah, Jual Buku, Jadwal Belajar, Peringkat. Dalam Aplikasi ini memuat seluruh Try Out Perguruan Tinggi di seluruh Indonesia baik PTN , PTS , PTK . Aplikasi layak game fantasy ini menjelaskan dimana user berpetualang untuk belajar mendapatkan materi dan latihan soal, vidio pembelajaran. Semua ada di GTC Edu, Aplikasi Try Out Online favoritmu.
            GTC Edu adalah aplikasi serupa dengan game fantasy yang terinspirasi dari anime “Sword Art Online” 
            yang dimana user dapat belajar dan mengerjakan soal layaknya saat bermain game .
            Kami memiliki misi menyediakan fasilitas belajar khususnya latihan soal untuk persiapan test
            dan membantu adik-adik SMA/Sederajat dalam meraih Perguruan Tinggi yang diinginkan.
            Aplikasi ini membantu siswa-siswi SMA/Sederajat atau yang ingin melanjutkan kuliah di PTN, PTS maupun PTK. 
            Kendala biaya mengikuti bimbingan belajar masuk PTN/PTS/PTK yang cukup mahal menjadi perhatian 
            kami dalam menyediaan fasilitas belajar dengan harga terjangkau. Aplikasi ini akan terus kami kembangkan 
            mengikuti dinamika perubahan model soal tes masuk PTN/PTS/PTK dari tahun ke tahun. Kami akan terus 
            memperbarui Aplikasi ini sehingga akan selalu update setiap tahunnya.
        </p>
    </div>
</div>