<div class="row">
    <div class="col-lg-8 mx-auto">
        <p class="text-warning text-center">
            Selamat data di GTC Education!<br>
            Platform Bimbingan Online & Try Out Online Masuk Perguruan Tinggi terlengkap dilengkapi dengan berbagai fasilitas 
            fitur aplikasi meliputi Try Out Online, Latian Soal, Belajar, Vidio Materi Pembelajaran, Info Sekolah, 
            Jual Buku, Jadwal Belajar, Peringkat. Semua yang kamu butuhkan untuk menggapai kampus impianmu, 
            dalam satu aplikasi.
        </p>
    </div>
</div>