<div class="row">
    <div class="col-lg-8 mx-auto">
        <p class="text-warning">
            Daftar Paket GTC Edu yang tersedia meliputi : Free,  Paket Mini (Terbatas), Paket Silver, 
            Paket Gold, Paket Platinum, Paket Emasa<br>
            Daftar Jalur akses Try Out Masuk Perguruan Tinggi GTC Edu terdiri dari : 
            Ikatan Dinas (8 Sekolah) , Kedinasan (15 Sekolah), JARVIS (12 Sekolah), 
            SBMPTN-UTBK, SBMPN-Politeknik Negeri (43 Sekolah), CPNS, SIPENCATAR (12 Sekolah),
            Ujian Mandiri (24 Sekolah), SMMPTN BARAT (16 Sekolah), SIMAMA POLTEKKES (38 Sekolah), 
            PTKIN (28 Sekolah).

        </p>
    </div>
</div>