    <img src="/assets/video/logo.gif" class="img-fluid">
    <form id="formRegistrasiUser" class="form-horizontal mx-auto">
        <div class="row form-group">
            <div class="col-lg-12">
                <span class="text-white">Nama Lengkap</span>
                <input type="text" name="namalengkap" class="form-control form-circle" id="namalengkap" placeholder="Nama Lengkap" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-12">
                <span class="text-white">Email</span>
                <input type="text" name="email" class="form-control form-circle" id="email" value="" placehoder="email" placeholder="Masukkan Email" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-12">
                <span class="text-white">Jenis Kelamin</span>
                <select name="jeniskelamin" class="form-control form-circle" id="jeniskelamin">
                    <option value="">Jenis Kelamin</option>
                    <option value="L">Laki-Laki</option>
                    <option value="P">Perempuan</option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-12">
                <span class="text-white">Sekolah</span>
                <input type="text" name="sekolah" class="form-control form-circle" id="sekolah" value="" placeholder="Masukkan Sekolah" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-12">
                <span class="text-white">Kabupaten</span>
                <input type="text" name="kabupaten" class="form-control form-circle" id="kabupaten" value="" placeholder="Masukkan Kabupaten" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-12">
                <span class="text-white">Provinsi</span>
                <input type="text" name="provinsi" class="form-control form-circle" id="provinsi" value="" placeholder="Masukkan Provinsi" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-12">
                <span class="text-white">Username</span>
                <input type="text" name="username" class="form-control form-circle" id="username" value="" placeholder="Masukkan Username" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-12">
                <span class="text-white">Password</span>
                <input type="password" name="password" class="form-control form-circle" id="password" value="" placeholder="Masukkan Password" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-12 pull-left">
                <button type="submit" class="form-control btn btn-danger">REGISTER</button>
            </div>
        </div>
    </form>