<div class="card bg-transparent">
    <div class="card-header">
        <!-- <video height="100" width="100" autoplay loop muted controls="false">
            <source src="/assets/video/videologin.mp4">
        </video> -->
        <img src="/assets/video/logo.gif" class="img-fluid">
    </div>
    <div class="card-body">
        <form id="formLoginUser">
            <div class="row form-group">
                <div class="col-lg-12">
                    <!-- <span class="text-white">Email/Username</span> -->
                    <input type="text" id="username" name="username" class="form-control form-circle" placeholder="Email / Username" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12">
                    <!-- <span class="text-white">Password</span> -->
                    <input type="password" name="password" class="form-control form-circle" id="password" value="" placeholder="Password" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12">
                    <button id="formSubmit" type="submit" class="form-control btn btn-danger btn-lg">
                        <span class="text-bold" style="font-size: 15px;">LOGIN</span>
                    </button>
                    <p></p>
                    <span class="text-white">Lupa Email / Password ? </span>
                    <p></p>
                    <a href="/registrasi" class="form-control btn btn-secondary btn-lg">
                        <span class="text-bold" style="font-size: 15px;">REGISTER</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>